name: Test
on:
  pull_request:
    branches: [main]
jobs:
  run-tests:
    name: run-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: |
          make venv/create
          source .venv/bin/activate
          tox
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
